body{
    background-color: lightgray;
}

nav{
    background-color: darkblue;
}
nav > ul > li{
    list-style: none;
    
}
section a{
    color:tomato;
    text-decoration: none;
    
}
span{
    color:blueviolet;
}